<h1>List of tweets</h1>
<p>this is the list of tweets</p>
<ul class="tweets">
  {{#each}}
    <li>{{tweetText}} <strong>({{twitterUser.name}})</strong></li>
  {{else}}
    <li>There are no tweets.</li>
  {{/each}}
</ul>


  